# Node modules
node_modules/

# Build output
.next/

# Static files
/public/ 

# Log files
logs/
*.log

# Environment variables
.env.local
.env.development
.env.test
.env.production

# IDE specific files
.vscode/
.idea/
